---
import '@fontsource/inter/latin-400.css';
import '@fontsource/inter/latin-700.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Serhii Shramko's link tree" } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogImage = new URL('/og-image.png', Astro.site);
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="description" content={description}/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="canonical" href={canonicalURL} />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content={canonicalURL}>
  <meta property="og:type" content="website">
  <meta property="og:title" content={title}>
  <meta property="og:description" content={description}>
  <meta property="og:image" content={ogImage}>

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content={canonicalURL.hostname}>
  <meta property="twitter:url" content={canonicalURL}>
  <meta name="twitter:title" content={title}>
  <meta name="twitter:description" content={description}>
  <meta name="twitter:image" content={ogImage}>

  <link rel="sitemap" href="/sitemap-index.xml"/>
  <title>{title}</title>
</head>
<body>
<slot/>
</body>
</html>
<style is:global>
  :root {
    --zinc-50: #FAFAFA;
    --zinc-400: #A1A1AA;
    --zinc-800: #27272A;
    --zinc-900: #18181B;
    --zinc-950: #09090B;
  }

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Inter', sans-serif;
    background: var(--zinc-950);
    color: var(--zinc-50);
  }

  .container {
    margin: auto;
    max-width: 600px;
  }
</style>
